.produit {

  display: inline-block;
  margin: 5px;
  padding: 20px;
  width: 150px;

  vertical-align: top;
  cursor: pointer;
  box-shadow: 0 0 5px grey;
}

.produit:hover {
  box-shadow: 0 0 2px grey;
}

.titre {
  font-weight: bold;
}
